<div class="navbar-fixed">
 <nav>
   <div class="container">
    <div class="nav-wrapper">
      <%= link_to "Service For Dreamers", search_path, class: "brand-logo" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>Signed in as <strong><%= current_user.name%></strong>!</li>
        <li><%=link_to "Sign out", signout_path, id: "sign_out"%> </li>
      </ul>
    </div>
  </div>
  </nav>
</div>