
<div class="parallax-container">
    <div cllass="parallax"></div>
    </div>
      <div class="section dark-slate center">
      <div class="row container">
        <h2 class= "header center">We know how important choosing the right school for you is, sometimes it’s a difficult process. That’s why we, Service for Dreamers, are providing you with data from all Colorado post-secondary, public institutions, to help you make your choice a little easier.</h2>
      </div>
    </div>

