
<div class="parallax-container">
    <div cllass="parallax"></div>
    </div>
      <div class="section dark-slate center">
      <div class="row container">
        <h2 class= "header center">Choosing the right school for you can be a difficult process. That is why we would like to provide you with data from all Colorado post-secondary, public institutions, to help you make your choice a little easier.</h2>
      </div>
    </div>

