
<div class="parallax-container">
    <div cllass="parallax"></div>
    </div>
      <div class="section dark-slate center">
      <div class="row container">
        <h2 class= "header center">We know how important choosing the right school for you can be, sometimes difficult. That's why we've decided to provide you with real data from across all Colorado Higher Education Institutions, to help you make that decision a little easier.</h2>
      </div>
    </div>

