#grad-stats-header{
  text-align: center;
  margin: {
    top: 35px;
    bottom: 35px;
  }
  color: $text-color;
  font: {
    family: $header-font;
    weight: 700px;
  }
}


.charts{
  margin-bottom :35px;
}