nav {
  background-color: $alt-nav-color;
  height: 48px;
  .brand-logo {
    position: absolute;
    color: $alt-2-color;
    display: inlinke-block;
    font-size: 1.9rem;
    white-space: nowrap;
    font-family: $nav-font;
  }
  ul {
    a{
    transition: background-color .3s;
    font-size: 1.2rem;
    color: $alt-2-color;
    display:  block;
    padding: 0 15px;
    cursor: pointer;
    font-family: $nav-font;
    
    }
    li{
      color: $alt-2-color;
    font-family: $nav-font;      
    }
  }
}

.navbar-fixed {
  position: relative;
  height: 48px;
  z-index: 997;
}

